#content_container {
	background-color: #EDEDED;
	background-image: none;
}

.applications th { background: #182E72; color: white; font-weight: bold }
.applications tr { width: 100% }
.applications td, .applications th { width: *; text-align: center; vertical-align: middle }
.applications td input[type=button], .users td input[type=button] {  margin:0; border: 1px solid navy; background: #ffffff; white-space:nowrap }
.applications td a { text-decoration: none; font-weight: normal; display: block; color: #676767 }
.applications tr:hover { background: #ffffff }

.data { background: #ccccff }
.data2 { background: #ddddff }
.disabled td { text-decoration: line-through }

.filter_menu { margin-bottom: 15px }
.filter_menu a { text-decoration: none }
.filter_menu .this_filter { color: #182E72 }

.network_data { float: left; margin-left: 25px }
.network_block { margin-top: 25px }
.network_block_edit { margin-top: 25px; line-height: 1.7 }
.network_block_top { margin-top: 10px }
.data_title { font-size: 13px; width: 125px; float:left; line-height: 25px }
.data_title_r { font-size: 13px; text-align: right; float:left; width: 100px }
.data_data { margin-left: 20px; font-size: 14px; line-height: 25px; width: 435px; float:left }
.job_info { margin-left: 20px; font-size: 14px; line-height: 25px; width: 435px; float:left }
.data_data_edit { margin-left: 20px; font-size: 14px; padding-top:3px; line-height: 13px }
.small { font-weight: normal; font-size: 12px; line-height: 22px }

.editlink { float:right; padding-top:8px }

.edittext, .edittextw { margin-bottom: 4px }
.edittextw { width: 400px }
.editline { height: 0; border-style: dotted; border-width: 1px 0 0 0; border-color: #000000; clear:left }

.dataform { border:1px dotted black; float: left; margin: 0 15px; padding: 10px; width: 600px }

.error { color: red; float:left; margin-left: 15px }

.delete { width:15px; height: 16px; vertical-align: text-bottom; border:0; }
.delete a { border:0; }
.delpng { margin-top:2px }
.edit { width:16px; height: 16px; vertical-align: text-bottom; border:0; }
.edit a { border:0; }

.editfield { width: 200px }

			.form_tags { margin-bottom: 10px; }
			
			/* Setting widget width example */
			.textboxlist { width: 400px; }
			
			/* Preloader for autocomplete */
			.textboxlist-loading { background: url('/content_files/images/spinner.gif') no-repeat 380px center; }
			
			/* Autocomplete results styling */
			.form_friends .textboxlist-autocomplete-result { overflow: hidden; zoom: 1; }
			.form_friends .textboxlist-autocomplete-result img { float: left; padding-right: 10px; }
			
			.note { color: #666; font-size: 90%; }
			#footer { margin: 50px; text-align: center; }

#cs_table { width: 750px; margin: 15px 0 0 0; text-align: center; border:0 }
.cs_table td { width: 200px }

#cs_headers { visibility:hidden }
#cs_headers th { font-weight:bold; font-size: 15px; text-align: center; width: 275px }

.add_filter { }

#successbar { background: #95B9C7; color: black; padding: 3px; margin: 2px 0 0 0 }
#warningbar { background: #95B9C7; color: black; padding: 3px; margin: 2px 0 0 0 }
#warningbar a { color: #061667; text-decoration: none }

//#network_t_menu { width:800px; background: #091C5A; padding:0 }
//.t_item { background: #091C5A; display: inline; padding: 4px 4px 0 4px }
//.t_item_current { background: #ededed; display: inline; padding: 4px 4px 0 4px }

#network_t_menu {
  float:left;
  width:800px;
  background:#091C5A;
  font-size:93%;
  line-height:normal;
  }
#network_t_menu ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
  }
#network_t_menu li {
  float:left;
  background:url("/content_files/images/tabs/left.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
  list-style-image: none;
  }
#network_t_menu a {
  float:left;
  display:block;
  background:url("/content_files/images/tabs/right.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#765;
  }
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
#network_t_menu a {float:none;}
/* End IE5-Mac hack */
#network_t_menu a:hover {
  color:#333;
  }
#network_t_menu #current {
  background-image:url("/content_files/images/tabs/left_on.gif");
  }
#network_t_menu #current a {
  background-image:url("/content_files/images/tabs/right_on.gif");
  color:#333;
  padding:5px 15px 4px 6px; //padding-bottom: 5px (previous code)
  }

#data_selection_grid { display: none }
.searchcol { float: left; margin: 0 5px }
.searchsection { padding: 5px; border: 1px dotted black; margin: 5px 0 }
.searchcat { font-weight: bold; margin: 0 0 5px 0 }

.cs { background: #ededed; border:0 }

.cs_a { padding: 3px 0 }

.wide { width: 100% }

.hrs { padding: 10px 0 }

#page_screen
{
   background-color:#000000;
   filter:alpha(opacity=80);
   opacity: 0.8;
   position:absolute;
   top:0px;
   left:0px;
   width:100%;
   display:none;
}

#editform, #addform
{
   width:650px;
   background-color:#ededed;
   border:1px solid #000000;
   position:absolute;
   top:0px;
   left:0px;
}

#addform { height:270px; }
#editform { height:240px; }

.admin_table { border-space: 0; border-collapse: collapse }
.admin_table th, .admin_table td { padding: 3px 10px; text-align: center }
.admin_table th { font-weight: bold }
.admin_table tr.row:hover { background: #728FCE; color: #ffffff; cursor:pointer; cursor:hand }

.admin_table_2 { border: 1px solid black; border-space: 0; border-collapse: collapse }
.admin_table_2 th { font-weight: bold }
.admin_table_2 th, .admin_table_2 td { padding: 3px 10px}

div.pagination {
	padding: 3px;
	margin: 3px;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #AAAADD;

	text-decoration: none; /* no underline */
	color: #000099;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #000099;
}

	div.pagination span.current {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #000099;
		
		font-weight: bold;
		background-color: #000099;
		color: #FFF;
	}
	div.pagination span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #EEE;
	
		color: #DDD;
	}
.progress-outer {
    background: #333;
    -webkit-border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}

.progress-inner {
    background: #95B9C7;
    height: 18px;
    -webkit-border-radius: 9px;
    text-align: center;
    color: #000;
    font-weight: bold;
    vertical-align: bottom;
    padding-top: 2px;
    font-size: 14px;
}

.display_users {

}

.display_users iframe {
	border: 0;
	width: 100%;
	height: 100%;
}

.display_users_table {
	margin: 0 0 3px 0;
	padding: 0;
}

.display_users_table tr {
	height: 56px;
}

.display_users_table td.picture {
	width: 65px;
}

.display_users_table td.name {
	width: 300px;
}

.display_users_table td.name a {
	font-weight: bold;
	color: #061667;
	text-decoration: none;
}