/*--- HTML Tag Overrides ---*/
html, body {
	background-color: #8E99BA;
	color: #676767;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 100%;
	margin: 0px;
}
em, i {
	font-style: italic;
}
fieldset {
    border: 1px solid #B5B8C8;
    padding: 10px;
    margin-bottom: 10px;
    display: block; /* preserve margins in IE */
}
fieldset legend {
	color: #15428b;
    font: bold 11px tahoma, arial, helvetica, sans-serif;
}
h2 {
	border-bottom: 1px dotted #182E72;
	color: #000000;
	font-size: 14px;
	margin-bottom: 5px;
	margin-top: 5px;
}
input {
	color: #000000;
}
p {
	margin-bottom: 1em;
}
strong, b {
	font-weight: bold;
}
ul, ol {
	margin-bottom: 1em;
	margin-left: 2em;
}
ul li {
	list-style-image: url(/content_files/images/im_square.gif);
}
ol li {
	list-style-type: decimal;
}
td {
	vertical-align: top;
}
/*---------------------------*/

/*--- Default Link Styles ---*/
a {
	color: #676767;
	font-weight: bold;
}
a:hover {
	color: #182E72;
}
/*---------------------------*/

/*--- CSS type for form field errors ---*/
input.error_field, select.error_field, textarea.error_field {
	border: 1px solid #FF0000;
}
/*--------------------------------------*/

/* Container Definitions */
#main_container {
	background-color: #FFFFFF;
	border-left: 1px solid #182E72;
	border-right: 1px solid #182E72;
	margin: auto;
	min-height: 100%;
	width: 1000px;
}
#content_container {
	background-color: #EDEDED;
	background-image: url(/images/content_background.gif);
	background-repeat: no-repeat;
	min-height: 380px;
}
#content_container > div {
	padding: 20px;
}
#content_container > div:first-child {
	padding: 0px;
}
#footer_container {
	font-size: 10px;
}
/*--------------------*/

/* Menu Definitions */
#top_menu_container {
	background-color: #8E8E91;
}
#top_menu_container div {
	float: left;
}
#top_menu_container a {
	color: #FFFFFF;
	font-size: 11px;
	text-decoration none;
}
#top_menu_container a:hover {
	color: #d9e2fc;
	font-size: 11px;
}
#top_menu_container .menu_item {
	margin-right: 17px;
}
#side_menu_container,.side_menu_container {
	background-color: #8E8E91
}
#side_menu_container div,.side_menu_container div {
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;;
	line-height: 20px;
	padding-left: 15px;
	background-color: #8E8E91;
	color: #FFFFFF;
	font-size: 11px;
	text-transform:uppercase;
}
#side_menu_container a,.side_menu_container a {
	font-family: Arialcustom, Arial;
	color: #FFFFFF;
	font-weight: bold;
	letter-spacing: 0px;
	text-decoration: none;
}
.side_menu_container a {
	font-weight: normal;
}
#side_menu_container a:hover,.side_menu_container a:hover {
	color: #091c5a;
}
/*--------------------*/

/* Custom Definitions */
table .td_padding td {
	padding: 3px;
}

#login_box {
	float: right;
	margin-top: 18px;
}

#login_box input {
	font-size: 10px;
	width: 75px;
}
/*-----------------------
#search_box {
	float: right;
	margin-right: 10px;
	margin-top: 18px;
}

#search_box input {
	font-size: 10px;
	width: 100px;
}
--------------------*/

/* sIFR Styles */
.sIFR-active h2 {
	visibility: hidden;
}

.sIFR-active #top_menu_container .menu_item { visibility: hidden; }

.sIFR-active #side_menu_container div { visibility: hidden; }
/*--------------------*/

/* ReCaptcha Styles */
#recaptcha_container {
	border: 1px solid #dfdfdf;
	padding: 4px;
}
#recaptcha_container #recaptcha_image {
	border: 1px solid #dfdfdf;
}
/*--------------------*/

/* Shadowbox Styles */
#shadowbox_title {
	height: auto !important;
}
/*--------------------*/

/* Print Media Definitions */
@media print {
}
/*--------------------*/