/* Style sheet for the silver calendar (default) */

table, td {font: 11px Verdana, Arial, sans-serif; color: #000;}

.alldaybg_1 {background: url(../images/allday_1.gif) repeat-x; height: 19px; padding-top: 5px; text-align: center;}
.alldaybg_2 {background: url(../images/allday_2.gif) repeat-x; height: 19px; padding-top: 5px; text-align: center;}
.alldaybg_3 {background: url(../images/allday_3.gif) repeat-x; height: 19px; padding-top: 5px; text-align: center;}
.alldaybg_4 {background: url(../images/allday_4.gif) repeat-x; height: 19px; padding-top: 5px; text-align: center;}
.alldaybg_5 {background: url(../images/allday_5.gif) repeat-x; height: 19px; padding-top: 5px; text-align: center;}
.alldaybg_6 {background: url(../images/allday_6.gif) repeat-x; height: 19px; padding-top: 5px; text-align: center;}
.alldaybg_7 {background: url(../images/allday_7.gif) repeat-x; height: 19px; padding-top: 5px; text-align: center;}

.rowOn			{ background-color: #999999; border-top: 1px solid #fff; border-left: 1px solid #fff; }
.rowOn2			{ background-color: #999999; border-top: 1px solid #fff; }
.rowOff			{ background-color: #595959; border-top: 1px solid #fff; border-left: 1px solid #fff; }
.rowOff2		{ background-color: #595959; border-top: 1px solid #fff; }
.rowToday		{ background-color: #999999; border-top: 1px solid #fff; border-left: 1px solid #fff; }

.padd			{ padding: 2px; }

/* Styles for day and week events */
.eventbg_1	 	{ background-color: #557CA3; padding: 2px;}
.eventbg_2	 	{ background-color: #53A062; padding: 2px;}
.eventbg_3	 	{ background-color: #E84F25; padding: 2px;}
.eventbg_4	 	{ background-color: #B257A2; padding: 2px;}
.eventbg_5	 	{ background-color: #D42020; padding: 2px;}
.eventbg_6	 	{ background-color: #B88F0B; padding: 2px;}
.eventbg_7	 	{ background-color: #73738C; padding: 2px;}
#allday a		{ font-size: 9px; color: #fff; font-weight: 900; text-decoration:none;}
#allday a:hover	{ text-decoration:underline;}

.eventbg2_1	 		{ background-color: #6699CC; border: 1px solid #557CA3; }
.eventbg2_2	 		{ background-color: #4FC464; border: 1px solid #53A062; }
.eventbg2_3	 		{ background-color: #FF6D3B; border: 1px solid #E84F25; }
.eventbg2_4	 		{ background-color: #EA62D4; border: 1px solid #B257A2; }
.eventbg2_5	 		{ background-color: #FF5E56; border: 1px solid #D42020; }
.eventbg2_6	 		{ background-color: #CCB21F; border: 1px solid #B88F0B; }
.eventbg2_7	 		{ background-color: #9292A1; border: 1px solid #73738C; }

.dayborder 		{ background-color: #fff; border-top: 1px solid #A1A5A9; }
.dayborder2 	{ background-color: #fff; border-top: 1px dashed #ccc; }

.title  		{ background-image: url(../images/time_bg.gif); padding: 5px; }
.title h1 		{ font-family: Helvetica, sans-serif; font-size: 18px; color: #000; margin: 0px;}

/* Month View */

.monthback		{ background-color: #A1A5A9; }
.monthreg		{ background-color: #fff; height: 105px; width: 105px; text-align: left; vertical-align: top; }
.monthoff		{ background-color: #F2F2F2; height: 105px; width: 105px; text-align: left;  vertical-align: top; }
.monthon		{ background-color: #F2F9FF; height: 105px; width: 105px; text-align: left;  vertical-align: top; }
.montheventtop	{ background-image: url(../images/side_bg.gif); border-top: 1px solid #A1A5A9; }
.montheventline	{ border-right: 1px dotted #A1A5A9; }

/* Year View */

.medtitle		{ background-color: #595959; font-weight: 900; height: 20px; margin-top: 3px; vertical-align: middle; }
.yearreg		{ background-color: #fff; height: 30px; width: 30px; text-align: right; vertical-align: top; font-size: 9px; }
.yearoff		{ background-color: #F2F2F2; height: 30px; width: 30px; text-align: right;  vertical-align: top; font-size: 9px; }
.yearon			{ background-color: #F2F9FF; height: 30px; width: 30px; text-align: right;  vertical-align: top; font-size: 9px; }
.yearmonth		{ background-color: #ccc; }
.yearweek		{ background-color: #eee; width: 30px; font-size: 9px; font-weight: 900; text-align: center; height: 15px; }


/* older styles */

.eventborder	{ background-image: url(../images/day_title.gif); border: 1px solid #000000; }
.eventbg	 	{ background-color: #6699CC; }

.calborder 		{ background-color: #FFFFFF; border: 1px solid #595959; }
.dateback		{ background-color: #eee; }
.weekborder 	{ border-top: 1px dashed #A1A5A9; border-right: 1px solid #A1A5A9; }
.weekborder2 	{ border-right: 1px solid #A1A5A9; }
.timeborder 	{ background-color: #595959; border-right: 2px solid #A1A5A9; border-top: 1px dashed #A1A5A9; /*background-image: url(../images/time_bg.gif);*/ }
.timeborder2 	{ border-right: 2px solid #A1A5A9; border-top: 1px solid #A1A5A9; background-image: url(../images/time_bg.gif); }
.navback 		{ background-color: #595959; color: #FFFFFF; font-size: 14px; padding-left: 5px; vertical-align: middle; /*background-image: url(../images/time_bg.gif);*/ }
.sideback		{ background-color: #595959; color: #FFFFFF; padding-left: 5px; text-align: left; vertical-align: middle; /*background-image: url(../images/side_bg.gif);*/ }


/* Link colors and attributes */
/* This is the main link style */
a.psf			{ font-weight: normal; text-decoration: none; }
a.psf:link		{ color: #000000; }
a.psf:visited	{ color: #000000; }
a.psf:active	{ color: #000000; }
a.psf:hover		{ color: #000000; text-decoration: underline; }

/* This is the link style for the mini-cals */	
a.ps2			{ font-weight: bold; text-decoration: underline; }
a.ps2:link		{ color: #0066FF; }
a.ps2:visited	{ color: #0066FF; }
a.ps2:active	{ color: #3366CC; }
a.ps2:hover		{ color: #000099; }

/* This is the link style for year months */	
a.ps3			{ text-decoration:	none; }
a.ps3:link		{ color: #FFF; }
a.ps3:visited	{ color: #FFF; }
a.ps3:active	{ color: #FFF; }
a.ps3:hover		{ color: #FFF; text-decoration: underline; }

/* This is the link style for events */	
a.ps			{ text-decoration:	none; }
a.ps:link		{ color: #fff; }
a.ps:visited	{ color: #fff; }
a.ps:active		{ color: #fff; }
a.ps:hover		{ color: #fff; text-decoration: underline; }
	
/* CSS definitions for fonts */

.V9 			{ font-size: 9px; color: #000000; }
.V10W 			{ font-size: 10px; color: #FFFFFF; text-decoration:	none;}
.V9W 			{ font-size: 9px; color: #FFFFFF; text-decoration:	none;}
.V10WB 			{ font-size: 10px; color: #FFFFFF; font-weight: 900; }
.V9G 			{ font-size: 9px; color: #999999; }
.V10 			{ font-size: 10px; color: #000000; }
.V9BOLD 		{ font-size: 9px; font-weight: 900; }
.G10 			{ font-size: 11px; color: #0066FF; }
.G10B 			{ font-size: 11px; color: #000000; }
.G10BOLD 		{ font-size: 11px; font-weight: 900; }
.G10G 			{ font-size: 11px; color: #A1A5A9; }
.V12 			{ font-size: 12px;  color: #000000; }
/*h1 				{ font-family: Helvetica, sans-serif; font-size: 18px; color: #000000; }*/
.eventfont 		{ font-size: 11px; color: #FFFFFF; }


/* Length of the form drop downs */

.query_style 	{ font-size: 11px; width: 156px; margin-bottom: 0; }
.search_style 	{ font-size: 12px; width: 134px; margin-bottom: 0; }
.login_style	{ font-size: 11px; width: 80px; margin-bottom: 0; }
