{HEADER}
<center>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="calborder">
	<tr>
	<td align="center" valign="middle">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="G10B">
		<tr>
		<td align="left" valign="top" width="1%" class="sideback"><img src="images/spacer.gif" width="1" height="20" alt=" "></td>
		<td align="center" valign="middle" width="98%" class="sideback"><b>{L_ERROR_WINDOW}</b></td>
		<td class="sideback" width="1%"></td>
		</tr>
		</table>
	</td>
	</tr>
	<tr>
	<td>
		<table width="100%" border="0" cellspacing="0" cellpadding="10" class="G10B">	
		<tr>
		<td align="center" valign="top" class="V12">
		{ERROR_MSG}<br />
		[<span class="G10"><a href="http://phpicalendar.net/documentation/index.php?title=Error_message_meanings">What does this mean?</a></span>]
		<br />
		<br />
		{ERROR_CALENDAR}
		<br />
		<br />
		{L_ERROR_BACK}
		<br />
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
</center>
{FOOTER}