{HEADER}
	<table border="0" width="100%" cellspacing="0" cellpadding="0">
	<tr>
	<td>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="calborder">
		<tr>
		<td>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr valign="top">
			<td class="navback">RSS Feeds</td>
			<td valign="top" align="right" width="120" class="navback">	
					<table border="0" cellpadding="0" cellspacing="0">
					<tr>
					<td><a class="psf" href="../day.php?getdate={GETDATE}"><img src="../images/day_on.gif" alt="{L_DAY}" border="0" /></a></td>
					<td><a class="psf" href="../week.php?getdate={GETDATE}"><img src="../images/week_on.gif" alt="{L_WEEK}" border="0" /></a></td>
					<td><a class="psf" href="../month.php?getdate={GETDATE}"><img src="../images/month_on.gif" alt="{L_MONTH}" border="0" /></a></td>
					<td><a class="psf" href="../year.php?getdate={GETDATE}"><img src="../images/year_on.gif" alt="{L_YEAR}" border="0" /></a></td>
					</tr>
					</table>
			</td>
			</tr>  			
			</table>
		</td>
		</tr>
		
		<tr>
		<td class="dayborder"><img src="../images/spacer.gif" width="1" height="5" alt=" " /></td>
		</tr>
		
		<tr>
		<td>
			<table width="100%" border="0" cellspacing="0" cellpadding="5" class="G10B">	
			<tr>
			<td>
				{RSS_LIST}
				<br />
				<p>{RSS_DOCINFO}</p>
			</td>
			</tr>
			</table>
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>

{FOOTER}