<table width="170" border="0" cellpadding="0" cellspacing="0" class="calborder">
<tr>
<td class="sideback"><div style="height: 17px; margin-top: 3px;" class="G10BOLD">Legend</div></td>
</tr>

<tr>
<td>
	<div style="padding: 5px;">
	{LEGEND}
	</div>
</td>
</tr>
</table>
<img src="images/spacer.gif" width="1" height="10" alt=" " /><br />

<table width="170" border="0" cellpadding="0" cellspacing="0" class="calborder">
<tr>
<td class="sideback"><div style="height: 17px; margin-top: 3px;" class="G10BOLD">Categories</div></td>
</tr>

<tr>
<td>
	<div style="padding: 5px;">
	<form style="display: inline;" action="{CURRENT_VIEW}.php" method="post">
	<input type="hidden" name="cpath" value="{CPATH}"/>
	<input type="hidden" name="getdate" value="{GETDATE}"/>
	<select name="cal[]" class="query_style" size="5" multiple="multiple">{LIST_ICALS_PICK}</select><br />
	<input type="submit" value="Go"/>
	</form>
	</div>
</td>
</tr>
</table>
<img src="images/spacer.gif" width="1" height="10" alt="" /><br />

<div style="text-align: center;">
	<!-- switch display_download on -->
	<a class="psf" href="{SUBSCRIBE_PATH}">{L_SUBSCRIBE}</a><br />
	<a class="psf" href="{DOWNLOAD_FILENAME}">{L_DOWNLOAD}</a><br />
	<!-- switch display_download off -->
	<a class="psf" href="rss/index.php?getdate={GETDATE}"><img src="images/rss_feed_icon_28x28.png" border="0" /><br />RSS-Feeds</a>
</div>