<div id="flashcontent">
	<div style="text-align: center;">
		<br /><br /><br />
		<strong>You need to install/upgrade Adobe Flash Player.</strong><br /><br /><br />
		<a href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash&promoid=BIOW"><img src="/scripts/swfobject/get_adobe_flash_player.png" width="158" height="39" border="0" /></a>
		<br />
		<br /><br />
	</div>
</div>

<script type="text/javascript">
var s0 = new SWFObject("/content_files/swf/intro.swf", "intro", "583", "421", "8", "#FFFFFF");
s0.addParam("wmode", "transparent");
s0.useExpressInstall('/scripts/swfobject/expressinstall.swf');
s0.setAttribute('xiRedirectUrl', 'http://www.domain.com/<% $php_self %>');
s0.write("flashcontent");
</script>