.listdiv {
width: 210px;
height: 400px;
float:left;
margin: 10px 40px 0 0;
}

.listdiv .title {
text-align: center;
font-weight: bold;
font-size: 15px;
margin-bottom: 5px
}

.listdiv .thelist {
overflow:auto;
height: 370px;
}

ul.sortable li i {
visibility: hidden;
}

ul.sortable li {
	list-style-image: none;
	position: relative;
}

ul.boxy {
	list-style-type: none;
	padding: 4px 4px 0 4px;
	margin: 0px;
	width: 13em;
	font-size: 13px;
	font-family: Arial, sans-serif;
}
ul.boxy li {
	margin-bottom: 4px;
	padding: 2px 2px;
	border: 1px solid #ccc;
	background-color: #eee;
}

ul.boxier {
	list-style-type: none;
	padding: 4px 4px 0 4px;
	margin: 0px;
	width: 10em;
	font-size: 15px;
	font-family: "Courier New", Courier, monospace;
	font-variant: small-caps;
}
ul.boxier li {
	cursor:move;
	margin-bottom: 4px;
	padding: 2px 2px;
	border: 1px solid #c00;
	background-color: #eee;
}
